<header class="mb-3">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark static-top bg-primary">
    <a class="navbar-brand" href="#"><img src="/resources/img/hospital-icon.png" class="mr-2" alt="icono de un hospital"> {{ config.titulo }} </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto hidden-md-down">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
        {% if session.isAuthenticated %}
        <li class="nav-item ">
          <a class="nav-link" href="#">Consultas <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pacientes</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/modulo/pacientes/buscar"><i class="fas fa-search"></i> Buscar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/modulo/pacientes/crear"><i class="fas fa-user-plus"></i> Agregar</a>
            <a class="dropdown-item" href="/modulo/pacientes/crear-nn"><i class="fas fa-user-plus"></i> Agregar NN</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Administración</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/modulo/usuarios"><i class="fas fa-cubes"></i> Usuarios</a>
            <a class="dropdown-item" href="/modulo/roles"><i class="fas fa-cubes"></i> Roles</a>
            <a class="dropdown-item" href="/modulo/permisos"><i class="fas fa-cubes"></i> Permisos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/modulo/configuracion"><i class="fas fa-cogs"></i> Configuracion</a>
          </div>
        </li>
        {% endif %}
      </ul>

      <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Buscar">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Busar</button>
      </form>

      <ul class="navbar-nav ml-auto">
        {% if session.isAuthenticated %}
        <li class="nav-item dropdown hidden-md-down">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> {{ user.getUsername }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/modulo/usuarios/configuracion"><i class="fas fa-cogs"></i> Configuraci&oacute;n</a>
            <a href="#" class="dropdown-item">
              <div class="dropdown-divider"></div>
              <a href="/auth/logout" class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i> Cerrar sesion
              </a>
            </a>
          </div>
        </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Iniciar sesion</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>

