RewriteEngine on

RewriteCond %{REQUEST_URI} !^/src
#RewriteRule ^(.*)$ /src/$1 [NC,L]
# working rule for static files
RewriteRule ^src/resources/(.+) src/templates/resources/$1 [NC,L,END]

RewriteRule (.*) src/start.php [L,END]

