RewriteEngine on
RewriteCond %{REQUEST_URI} !^/src
RewriteRule ^/static/ /templates/resources/$1 [L] # this is the rule for statics files!!!
RewriteRule ^(.*)$ /src/$1 [NC,L]
RewriteRule . src/start.php [L]
