{% extends "base.html" %}
{% block main %}
  <div class="row">
    <div class="col-md-5">
      <form method="post" action="/modulo/configuracion/update">
        <div class="form">

          <div class="form-group ">
            <label for="title-config">Titulo del sitio </label>
            <input type="text" class="form-control" id="title-config" value="{{ config.titulo }}"
                   placeholder="Ingrese el titulo del sitio" name="titulo">
          </div>
          <div class="form-group ">
            <label for="description-config">Descripcion:</label>
            <textarea class="form-control" id="description-config" rows="3" name="descripcion"
                      placeholder="Ingrese una breve descripcion del sitio.">{{ config.descripcion }}</textarea>
          </div>

          <div class="form-group ">
            <label for="email-config">Mail de contacto</label>
            <input type="email" class="form-control" id="email-config" placeholder="Email" name="email"
                   value="{{ config.email_de_contacto }}">
          </div>

          <div class="form-group ">
            <label for="pagination-config">Cantidad de elementos por pagina (paginado de listas)</label>
            <input type="number" class="form-control" id="pagination-config" placeholder="0"
                   value="{{ config.paginacion }}" name="paginacion">
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-check"></i> Guardar cambios</button>

      </form>
    </div>

    <div class="offset-md-1 col-md-6">
      <div class="sys-info">
        <h5>Informaci&oacute;n del sistema:</h5>
        <ul>
          <li>Estado del sitio:
            {% if config.sitio_activo is null %}
            <span class="text-warning font-weight-bold">No existe la config</span>
            {% elseif config.sitio_activo != 'true' %}
            <span class="text-danger font-weight-bold"> Mantenimiento</span></lI>
          {% else %}
            <span class="text-success font-weight-bold"> Activo</span></lI>
          {% endif %}
          <li>Modo del sistema: {% if DEBUG %}
              <span class="text-danger font-weight-bold">Debug</span>
            {% else %}
              <span class="text-success font-weight-bold">Produccion</span>
            {% endif %}
          </li>
          <li>Fecha y hora del servidor: {{ 'now'|date('d/m/Y H:i:s') }}</li>
        </ul>
      </div>

      <hr>

      <div class="card bg-light mt-3 mb-3">
        <div class="card-header text-danger"><h4><i class="fas fa-exclamation-triangle text-warning"></i> Zona de alto
            riesgo</h4></div>
        <div class="card-body">
          <h5 class="card-title">Activar sitio</h5>
          <span class="card-text">
            <label class="switch">
              <input id="switchActivateWebsite"
                     name="sitio_activado"
                     type="checkbox" {% if sitio_activo == 'true' or sitio_activo is null %}checked{% endif %}>
              <span class="slider round"></span>
             </label>

          </span>
          <p class="mb-5" id="activeWebsiteButtons">

          </p>

          <script>

              conf = new ConfirmationButton(
                  'switchActivateWebsite',
                  'activeWebsiteButtons',
                  confirmToggleWebSiteStatus,
                  undefined,
                  true
              );

              function confirmToggleWebSiteStatus() {
                  function postOkCallback(data) {
                      console.log(data);
                      location.reload();
                  }

                  let data = {'sitio_activo': $("#switchActivateWebsite").is(":checked")};

                  postJson("/api/configuracion/mantenimiento", data, postOkCallback);
              }
          </script>


          <h5 class="card-title">Generaci&oacute;n de datos</h5>
          <p class="card-tex">
          <form action="/db/generatePermissionData" method="post">
            <div class="form-group row">
              <div class="col-md-5">
                <button type="submit" class="form-control btn btn-info"><i class="fas fa-database"></i> Generar permisos
                </button>
              </div>
              <label for="inputPassword" class="col-sm-7 col-form-label">Genera los permisos automaticamente,
                inspeccionando los modulos con acceso publico existentes.</label>
            </div>
          </form>
          </p>

          <p class="card-tex">
          <form action="/db/loadData" method="post">
            <div class="form-group row">
              <div class="col-md-5">
                <button type="submit" class="form-control btn btn-info"><i class="fas fa-database"></i> Generar datos
                </button>
              </div>
              <label for="inputPassword" class="col-sm-7 col-form-label">Genera los datos tomados,
                de la API de la catedra, para cargar las obras sociasles, y tipos de dni.</label>
            </div>
          </form>
          </p>

          <p class="card-tex">
          <form action="/db/createDefaultConfigs" method="get">
            <div class="form-group row">
              <div class="col-md-5">
                <button type="submit" id="generar-configs" class="form-control btn btn-info"><i
                      class="fas fa-database"></i> Generar configuraciones
                </button>
              </div>
              <label for="generar-configs" class="col-sm-7 col-form-label">Genera la configuraciones requeridas por
                defecto, (<em> No sobrescribe los datos existentes</em>).</label>
            </div>
          </form>
          </p>

          <p class="card-tex">
          <form action="/db/showWarnings" method="get">
            <div class="form-group row">
              <div class="col-md-5">
                <button type="submit" id="generar-configs" class="form-control btn btn-info"><i
                      class="fas fa-database"></i> Analizar codigo
                </button>
              </div>
              <label for="generar-configs" class="col-sm-7 col-form-label">Muestra si algun metodo no chequea por algun
                metodo critico.</label>
            </div>
          </form>
          </p>


        </div>
      </div>


    </div>

  </div>


{% endblock %}