{% extends "base.html" %}
{% block main %}
  <h2>Reporte de consultas</h2>

    <select id="selectForReport">
      <option value="" selected disabled hidden> Seleccione una opci&oacute;n</option>
      <option value="motivo">Por motivo</option>
      <option value="genero">Por genero</option>
      <option value="localidad">Por localidad</option>
    </select>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <table id="lista_consultas" class="table table-striped ">
          <thead>
          <tr>
            <th>Consulta</th>
            <th>Cantidad</th>
          </tr>
          </thead>
        <tbody id="body_lista_consultas">
          <tr>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
        </table>
      </div>
      <div class="col-sm"><canvas id="myChart"></canvas></div>
        <div id="chartWithHighChart" style="width:400px; height:400px;"></div>
    </div>
  </div>
  <!--[if lt IE 9]>
  <script src="https://code.highcharts.com/modules/oldie.js"></script>
  <![endif]-->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
  <script>

      $("#selectForReport").change(function () {
          var optionSelected = $(this).find("option:selected");
          var valueSelected  = optionSelected.val();
          switch (valueSelected){

              case 'motivo':
                  getDataForReports('/api/reportes/motivo');
                  break;
              case 'genero':
                  getDataForReports('/api/reportes/genero');
                  break;
              case 'localidad':
                  getDataForReports('/api/reportes/localidad');
                  break;
          }

      });

      function showReport(datos){
          var chart = Highcharts.chart('chartWithHighChart', {
              chart: {
                  type: 'pie'
              },
              exporting: {
                  chartOptions: { // specific options for the exported image
                      plotOptions: {
                          series: {
                              dataLabels: {
                                  enabled: true,
                              }
                          }
                      }
                  },
                  fallbackToExportServer: false
              },

              subtitle: {
                  text: 'Click en el boton para descargar'
              },
              title: {
                  text: 'Reporte de consultas'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: false
                      },
                      showInLegend: true
                  }
              },
              series: [{
                  name: 'consultas',
                  data: datos
              }]
          });
      }

      function showList(datos) {
          $("#body_lista_consultas").empty();
          $.each(datos,function(index,value) {
              $('#body_lista_consultas').append(
                  '<tr><td>'+value[0]+'</td><td>'+value[1]+'</td></tr>');
          })
      }

      function successGetReport(data) {
          console.log(data);
          showReport(data);
          showList(data);
      }

      function errorGetReport(data) {
          console.log(data);
          console.log('error');
      }

      function getDataForReports(url) {
          $url = url;
          $data = [];
          getJson($url, $data, successGetReport, errorGetReport);
      }


  </script>
{% endblock %}