{% extends "base.html" %}
{% block main %}
  <h2>Reporte de consultas</h2>

    <select id="selectForReport">
      <option value="" selected disabled hidden> Seleccione una opci&oacute;n</option>
      <option value="motivo">Por motivo</option>
      <option value="genero">Por genero</option>
      <option value="localidad">Por localidad</option>
    </select>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul id="listado_consultas">
        </ul>
      </div>

      <div class="col-sm"><canvas id="myChart"></canvas></div>
      <div id="chartWithHighChart" style="width:400px; height:400px;"></div>
    </div>
  </div>

  <script>

      $("#selectForReport").change(function () {
          var optionSelected = $(this).find("option:selected");
          var valueSelected  = optionSelected.val();
          switch (valueSelected){

              case 'motivo':
                  getDataForReports('/api/reportes/motivo');
                  break;
              case 'genero':
                  getDataForReports('/api/reportes/genero');
                  break;
              case 'localidad':
                  getDataForReports('/api/reportes/localidad');
                  break;
          }

      });

      function showReport(datos){
          var chart = Highcharts.chart('chartWithHighChart', {
              chart: {
                  type: 'pie'
              },
              exporting: {
                  chartOptions: { // specific options for the exported image
                      plotOptions: {
                          series: {
                              dataLabels: {
                                  enabled: true
                              }
                          }
                      }
                  },
                  fallbackToExportServer: false
              },

              subtitle: {
                  text: 'Click en el boton para descargar'
              },
              title: {
                  text: 'Reporte de consultas'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: false
                      },
                      showInLegend: true
                  }
              },
              series: [{
                  data: datos
              }]
          });
      }

      function successGetReport(data) {
          showReport(data);
      }

      function errorGetReport() {
          console.log('error');
      }

      function getDataForReports(url) {
          $url = url;
          $data = [];
          getJson($url, $data, successGetReport, errorGetReport);
      }


  </script>
{% endblock %}