<div id="alert-danger" class="alert alert-danger alert-dismissible fade" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Hay un problema, </strong><span id="alert-danger-msg"></span>
</div>

<div id="alert-success" class="alert alert-success alert-dismissible fade" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Hay un problema, </strong><span id="alert-success-msg"></span>
</div>
