{% extends "base.html.twig" %}
{% block title %}Home - Hospital Korn{% endblock %}

{% block body %}
<body>
	<main>  
		<div class="container">
		    <div class="row justify-content-md-center">
			    <div class="col-md-auto">
			      <h2>Información Pública</h2>
			    </div>
		  	</div>
	    <div class="row">
		    <div class="col">
		      	<section class="text-center">
		          	<h3>Heading</h3>
		          	<p class="text-left">
			            Lorem ipsum dolor sit amet consectetur adipiscing elit semper sapien, faucibus sollicitudin non fames
			            tincidunt cubilia erat accumsan pharetra, etiam justo natoque tempus ac sagittis metus parturient. Luctus
			            suscipit duis vehicula conubia leo tempor enim facilisi, gravida tincidunt maecenas egestas laoreet orci
			            porttitor in, tempus nulla vel non cursus vitae natoque. Pulvinar nisl scelerisque eros lectus class vivamus
			            congue gravida ac cum, nostra faucibus volutpat non lobortis justo rutrum vestibulum feugiat rhoncus, eget
			            dis integer est fusce parturient cras mauris pharetra.
		          	</p>
		          	<button class="btn btn-primary">Ver detalles »</button>
				</section>
		    </div>
	    	<div class="col">
		     	<section class="text-center">
		          	<h3>Heading</h3>
		          	<p class="text-left">
			            Lorem ipsum dolor sit amet consectetur adipiscing elit semper sapien, faucibus sollicitudin non fames
			            tincidunt cubilia erat accumsan pharetra, etiam justo natoque tempus ac sagittis metus parturient. Luctus
			            suscipit duis vehicula conubia leo tempor enim facilisi, gravida tincidunt maecenas egestas laoreet orci
			            porttitor in, tempus nulla vel non cursus vitae natoque. Pulvinar nisl scelerisque eros lectus class vivamus
			            congue gravida ac cum, nostra faucibus volutpat non lobortis justo rutrum vestibulum feugiat rhoncus, eget
			            dis integer est fusce parturient cras mauris pharetra.
		          	</p>
		          	<button class="btn btn-primary">Ver detalles »</button>
				</section>
		    </div>
		    <div class="col">
		      	<section class="text-center">
		          	<h3>Heading</h3>
		          	<p class="text-left">
			            Lorem ipsum dolor sit amet consectetur adipiscing elit semper sapien, faucibus sollicitudin non fames
			            tincidunt cubilia erat accumsan pharetra, etiam justo natoque tempus ac sagittis metus parturient. Luctus
			            suscipit duis vehicula conubia leo tempor enim facilisi, gravida tincidunt maecenas egestas laoreet orci
			            porttitor in, tempus nulla vel non cursus vitae natoque. Pulvinar nisl scelerisque eros lectus class vivamus
			            congue gravida ac cum, nostra faucibus volutpat non lobortis justo rutrum vestibulum feugiat rhoncus, eget
			            dis integer est fusce parturient cras mauris pharetra.
		          	</p>
		          	<button class="btn btn-primary">Ver detalles »</button>
				</section>
		    </div>
	  	</div>
		</div>
	</main>
</body>
{% endblock %}
