{% extends "base.twig" %}
{% block title %}Home - Hospital Korn{% endblock %}
{% block body %}
<body>
	<main>  
		<div class="container mt-4">
  			<div class="row align-items-center justify-content-center">
			    <div class="col-md-3">
			      	<form class="text-center">
					  <div class="form-group">
					    <label for="inputUser">Usuario</label>
					    <input type="text" class="form-control" id="inputUser" placeholder="Ingrese su usuario" required>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword">Contraseña</label>
					    <input type="password" class="form-control" id="inputPassword" placeholder="Ingrese su contraseña" required>
					  </div>
			  			<button type="submit" class="btn btn-primary">Aceptar</button>
					</form>
			    </div>
    		</div>
  		</div>
	</main>
</body>
{% endblock %}
