{% extends "base.html" %}
{% block main %}
    <h4>Complete los criterios por los que desea buscar</h4>
    <form id="searchUsuarios" method="post" action="/modulo/usuarios/busqueda">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username" class="col-sm-2 col-form-label col-form-label-sm">Usuario</label>
            <input type="text" class="form-control" id="username" placeholder="Nombre de usuario" name="username" >
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="user_state" checked="checked" name="user_state" value="1">
            <label class="form-check-label" for="user_state">
              Activo
            </label>
          </div>
        </div>

      
      <button type="submit" class="btn btn-primary">Buscar Usuario</button>
    
    </form>
{% endblock %}