{% extends "base.html" %}
{% block main %}
  {% if usuario.getId %}
    <div class="card bg-light mt-0 mb-3">
      <div class="card-header text-danger">
        <h4><i class="fas fa-exclamation-triangle text-warning"></i> Modificar contraseña</h4></div>
      <div class="card-body">
      <span class="card-tex">
        <form id="form-cambiar-clave">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="pwd">Contraseña:</label>
              <input type="password" class="form-control" id="pwd" placeholder="*************" name="password" required>
            </div>
          </div>
              <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
        </form>
       </span>
      </div>
    </div>

  {% endif %}


  <div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-user"></i> Datos del usuario</h4></div>
    <div class="card-body">
  <span class="card-tex">
  <form id="usuario_crear_form"
        action={% if usuario.getId %} "/api/usuarios/modificar"{% else %} "/api/usuarios/crear" {% endif %}
    method="post">
  <input type="hidden" name="id" value="{{ usuario.getId }}">

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="username">Usuario:</label>
      <input type="text" class="form-control" id="username" value="{{ usuario.username }}"
             placeholder="Nombre de usuario" name="username" required>
    </div>
    <div class="form-group col-md-4">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" value="{{ usuario.email }}" placeholder="usuario@host.com"
             name="email" required>
    </div>
  </div>
    {% if not usuario.getId %}
      <div class="form-row">
      <div class="form-group col-md-4">
        <label for="pwd">Contraseña:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Contraseña" name="password" required>
      </div>
    </div>
    {% endif %}
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="firstname">Nombre:</label>
      <input type="text" class="form-control" id="firstname" value="{{ usuario.firstName }}" name="first_name"
             placeholder="Nombre" required>
    </div>
    <div class="form-group col-md-4">
      <label for="lastname">Apellido:</label>
      <input type="text" class="form-control" id="lastname" value="{{ usuario.lastName }}" name="last_name"
             placeholder="Apellido" required>
    </div>
  </div>


  <div class="card bg-light mt-5 mb-4">
    <div class="card-header">
      <h4><i class="fas fa-user-shield"></i> Roles y permisos</h4></div>
    <div class="card-body">
        <span class="card-text">
          <div class="form-row">
              <div class="form-group col-md-6">
                <h5>Roles</h5>
                <label for="rolesList" class="sr-only">Roles</label>
                <select id="rolesList" multiple="multiple" size="10">
                  {% for rol in roles %}
                    <option value="{{ rol.id }}" name="rolesList[]"
                        {% if rol in usuario.getRol %}  selected   {% endif %}
                    >{{ rol.nombre }} </option>
                  {% endfor %}
                </select>
              </div>
            <div class="form-group col-md-6">
              <h5>Permisos</h5>
              <label for="permissionList" class="sr-only">Permisos</label>
              <select id="permissionList" multiple="multiple" size="10">
                {% for permiso in permisos %}
                  <option value="{{ permiso.id }}" name="permissionList[]"
                      {% if permiso in usuario.getPermiso %} selected {% endif %}>
                   {{ permiso.nombre }}
                  </option>
                {% endfor %}
             </select>
            </div>
          </div>
      </span>
    </div>
  </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <h5>Usuario activado:</h5>
        <label class="switch" for="user_state">
          <input id="user_state"
                 name="user_state"
                 type="checkbox"{% if usuario.getActivo() or not usuario.getId() %} checked {% endif %}>
          <span class="slider round"></span>
        </label>
      </div>

      <div class="form-group col-md-4">
        <h5>Es super usuario:</h5>
        <label class="switch" for="superuser">
          <input id="superuser"
                 name="superuser"
                 type="checkbox" {% if usuario.getIsSuperuser %} checked {% endif %}>
          <span class="slider round"></span>
        </label>
      </div>



    </div>


  <div class="col-md-">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>

    </form>
  </span>
    </div>
  </div>
  <p class="text-danger" id="pwdAlert"></p>

  <script>

      $(function () {
          $('#rolesList').multiselect({
              searchBoxText:'Buscar rol..',
              checkAllText: 'Seleccionar todos',
              uncheckAllText: 'Deseleccionar todos',
              invertSelectText: 'Invertir seleccion',
          });
          $('#permissionList').multiselect({
              searchBoxText:'Buscar permiso..',
              checkAllText: 'Seleccionar todos',
              uncheckAllText: 'Deseleccionar todos',
              invertSelectText: 'Invertir seleccion',
          });
      });

      $(document).ready(function () {
          $('#userList').DataTable();
      });

      $('#re_password').on('keyup', function () {
          if ($('#re_password').val() === $('#password').val())
              $('#pwdAlert').hide();
          else
              $('#pwdAlert').show().html('Las contraseñas no coinciden');
      });

      function successCallback(response) {
          console.log(response);
      }

      function errorCallback(response) {
          console.log(response);
      }

      onSubmitFormGetJson("#usuario_crear_form", successCallback, errorCallback);


  </script>

{% endblock %}