{% extends "base.html" %}
{% block main %}
  {% if usuario.getId %}
    <div class="card bg-light mt-0 mb-3">
      <div class="card-header text-danger">
        <h4><i class="fas fa-exclamation-triangle text-warning"></i> Modificar contraseña</h4></div>
      <div class="card-body">
      <span class="card-tex">
        <form id="form-cambiar-clave">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="pwd">Contraseña:</label>
              <input type="password" class="form-control" id="pwd" placeholder="*************" name="password" required>
            </div>
          </div>
              <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
        </form>
       </span>
      </div>
    </div>

  {% endif %}


  <div class="card bg-light mt-0 mb-3">
  <div class="card-header">
    <h4><i class="fas fa-user"></i> Datos del usuario</h4></div>
  <div class="card-body">
  <span class="card-tex">
  <form id="usuario_crear_form"
        action={% if usuario.getId %} "/api/usuarios/modificar"{% else %} "/api/usuarios/crear" {% endif %} method="post">
  <input type="hidden" name="id" value="{{ usuario.getId }}">

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="username">Usuario:</label>
      <input type="text" class="form-control" id="username" value="{{ usuario.username }}"
             placeholder="Nombre de usuario" name="username" required>
    </div>
    <div class="form-group col-md-4">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" value="{{ usuario.email }}" placeholder="usuario@host.com"
             name="email" required>
    </div>
  </div>
  {% if not usuario.getId %}
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="pwd">Contraseña:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Contraseña" name="password" required>
      </div>
    </div>
  {% endif %}
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="firstname">Nombre:</label>
      <input type="text" class="form-control" id="firstname" value="{{ usuario.firstName }}" name="first_name"
             placeholder="Nombre" required>
    </div>
    <div class="form-group col-md-4">
      <label for="lastname">Apellido:</label>
      <input type="text" class="form-control" id="lastname" value="{{ usuario.lastName }}" name="last_name"
             placeholder="Apellido" required>
    </div>
  </div>

  <div class="form-row">
    <div class="multiselect">
      <div id="selectPermiso" class="selectBox">
        <select>
          <option>Seleccione los permisos</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div id="checkboxesPermiso">
        {% for permiso in permisos %}
          <label for="{{ permiso.nombre }}">
            <input type="checkbox" id="{{ permiso.nombre }}" name="permisos[]" value="{{ permiso.id }}"
                {% if permiso in usuario.getPermiso %} checked {% endif %}>
            {{ permiso.nombre }}
          </label>
        {% endfor %}
      </div>
    </div>

    <div class="multiselect">
      <div id="selectRoles" class="selectBox">
        <select>
          <option>Seleccione los roles</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div id="checkboxesRoles">
        {% for rol in roles %}
          <label for="{{ rol.nombre }}">
            <input type="checkbox" id="{{ rol.nombre }}" name="roles[]" value="{{ rol.id }}"
                {% if rol in usuario.getRol %} checked {% endif %}>
            {{ rol.nombre }}
          </label>
        {% endfor %}
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="user_state" name="user_state"
            {% if usuario.getActivo() %} checked {% endif %}>
        <label class="form-check-label" for="user_state">
          Activo
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="superuser" name="superuser"
            {% if usuario.getIsSuperuser %} checked {% endif %}>
        <label class="form-check-label" for="superuser">
          Es superusuario
        </label>
      </div>
    </div>


  </div>
  <div class="col-md-">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>

  </form>
  </span>
  </div>
  </div>
  <p class="text-danger" id="pwdAlert"></p>

  <script>


      $("#selectPermiso").click(function () {
          $("#checkboxesPermiso").toggle();
      });

      $("#selectRoles").click(function () {
          $("#checkboxesRoles").toggle();
      });


      $(document).ready(function () {
          $('#userList').DataTable();
      });

      $('#re_password').on('keyup', function () {
          if ($('#re_password').val() === $('#password').val())
              $('#pwdAlert').hide();
          else
              $('#pwdAlert').show().html('Las contraseñas no coinciden');
      });

      function successCallback(response) {
          console.log(response);
      }

      function errorCallback(response) {
          console.log(response);
      }

      onSubmitFormGetJson("#usuario_crear_form", successCallback, errorCallback);


  </script>

{% endblock %}