{% extends "base.html" %}
{% block main %}
  <div class="btn-group mt-2" role="group">
    <a class="btn btn-success" href="/modulo/usuarios/crear"><i class="fas fa-user-plus"></i> Agregar usuario</a>
  </div>
<div class="mt-5 container">
  <div class="col-sm-12 table-responsive">
    <table id="userList" class="display ">
      <thead>
      <tr>
        <th>E-mail</th>
        <th>Nombre de usuario</th>
        <th>Estado</th>
        <th>Detalles</th>
      </tr>
      </thead>
      <tbody>
      {% for user in usuarios %}
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.username }}</td>
          <td>{% if user.activo %}Activo{% else %} Inactivo {% endif %}</td>
          <td>
            <a href="/modulo/usuarios/modificar/{{ user.id }}"><i class="far fa-eye"></i> Ver detalle</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
</div>
  <script>
      $(document).ready(function () {
          $('#userList').DataTable({
              "pageLength": {% if config.paginacion  %}{{ config.paginacion }}{% else %} 10 {% endif %},
              "lengthChange": false,
              language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando Pagina _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ entradas totales)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    }
          });

});

  </script>
{% endblock %}
