{% extends "base.html" %}
{% block main %}
  <div class="btn-group mt-2" role="group">
    <a class="btn btn-success" href="/modulo/usuarios/crear"><i class="fas fa-user-plus"></i> Agregar usuario</a>
  </div>
  <div class="mt-5 container">
    <div class="col-sm-12 table-responsive">
      <table id="userList" class="display ">
        <thead>
        <tr>
          <th>E-mail</th>
          <th>Nombre de usuario</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
          {% if not usuario.isSuperUser or user.isSuperUser and usuario.isSuperUser %}
            <tr>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.username }}</td>
              <td>{% if usuario.activo %}Activo{% else %} Inactivo {% endif %}</td>
              <td>
                <a href="/modulo/usuarios/modificar/{{ usuario.id }}"
                   data-toggle="tooltip" data-placement="bottom" title="Ver">
                  <i class="fas fa-edit action-button"></i>
                </a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
      $(document).ready(function () {
          $('#userList').DataTable(dataTablesConfig);

      });
  </script>
{% endblock %}
