{% extends "base.html" %}
{% block main %}

<form action="/api/usuarios/modificar/{{usuario.getId}}" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstname" class="col-sm-2 col-form-label col-form-label-sm">Nombre</label>
      <input type="text" class="form-control" id="firstname" value="{{usuario.firstName}}" name="first_name" required>
    </div>
    <div class="form-group col-md-6">
      <label for="lastname" class="col-sm-2 col-form-label col-form-label-sm">Apellido</label>
      <input type="text" class="form-control" id="lastname" value="{{usuario.lastName}}" name="last_name" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username" class="col-sm-2 col-form-label col-form-label-sm">Usuario</label>
      <input type="text" class="form-control" id="username" value="{{usuario.username}}" name="username" required>
    </div>
    <div class="form-group col-md-6">
      <label for="email" class="col-sm-2 col-form-label col-form-label-sm">E-mail</label>
      <input type="email" class="form-control" id="email" value="{{usuario.email}}" name="email" required>
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="form-group col-md-6">
      <label for="password" class="col-sm-2 col-form-label col-form-label-sm">Contraseña</label>
      <input type="password" class="form-control" id="password" placeholder="*********" name="password" readonly required>
    </div>
    <div class="form-group col-md-6">
      <a href="/modulo/usuarios/{{usuario.getId}}/cambiarClave">Cambiar contraseña</a>
    </div>
  </div>

  <div class="form-inline">
    <div class="col-md-3 my-2">
      <label class="col-sm-2 col-form-label col-form-label-sm" for="role">Roles disponibles</label>
      <select class="custom-select my-1 mr-sm-2" id="role" name="roles[]" multiple>
        {%for rol in roles%}
        <option value="{{rol.id}}">{{rol.nombre}}</option>
        {%endfor%}
      </select>
    </div>
    <div class="col-md-3 my-2">
      <label class="col-sm-2 col-form-label col-form-label-sm" for="role2">Roles actuales</label>
      <select class="custom-select my-1 mr-sm-2" id="role2" name="roles_actuales[]" multiple>
        {%for rol in usuario.getRol%}
        <option value="{{rol.id}}">{{rol.nombre}}</option>
        {%endfor%}
      </select>
    </div>

    <div class="col-md-3 my-1">
      <label class="col-sm-2 col-form-label col-form-label-sm" for="permission">Permisos disponibles</label>
      <select class="custom-select my-1 mr-sm-2" id="permission" name="permisos[]" multiple>
        {%for permiso in permisos%}
        <option value="{{permiso.id}}">{{permiso.nombre}}</option>
        {%endfor%}
      </select>
    </div>
    <div class="col-md-3 my-1">
      <label class="col-sm-2 col-form-label col-form-label-sm" for="permission2">Permisos actuales</label>
      <select class="custom-select my-1 mr-sm-2" id="permission2" name="permisos_actuales[]" multiple>
        {%for permiso in usuario.getPermiso%}
        <option value="{{permiso.id}}">{{permiso.nombre}}</option>
        {%endfor%}
      </select>
    </div>


    <div class="col-md-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="user_state" name="user_state"
        {% if usuario.getActivo() %}  checked  {% else %}  unchecked   {% endif %}>
        <label class="form-check-label" for="user_state">
          Activo
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </div>
</form>






{% endblock %}
