{% extends "base.html" %}
{% block main %}

<div class="container">
  <div class="row">
    <label class="col-sm-3 ">Nombre y apellido</label>
    <span class="col-sm-2 ">{{usuario.firstName}}, {{usuario.lastName}}</span>
    <a href="#"><i class="far fa-edit"></i>Modificar</a>
  </div>
  <div class="row">
    <label class="col-sm-3 ">Usuario</label>
    <span class="col-sm-2 ">{{usuario.username}}</span>
    <a href="#"><i class="far fa-edit"></i>Modificar</a>
  </div>
  <div class="row">
    <label class="col-sm-3 ">E-mail</label>
    <span class="col-sm-2 ">{{usuario.email}}</span>
    <a href="#"><i class="far fa-edit"></i>Modificar</a>
  </div>
  <div class="row">
    <label class="col-sm-3 ">Clave</label>
    <span class="col-sm-2 ">************</span>
    <a href="#"><i class="far fa-edit"></i>Modificar</a>
  </div>
  <div class="row">
    <label class="col-sm-3 ">Estado</label>
    <span class="col-sm-2 ">{%if usuario.activo %} Activo {% else %} Inactivo{% endif %}</span>
    <a href="#"><i class="far fa-edit"></i>Modificar</a>
  </div>
  <div class="row">
    <label class="col-sm-3 ">Roles</label>
    {% for rol in usuario.getRol %}
    <span class="badge badge-pill badge-secondary">  {{ rol.nombre }}  </span>
    {% endfor %}
    <a href="#"><i class="far fa-edit"></i>Modificar</a>
  </div>
  <div class="row">
    <label class="col-sm-3 ">Permisos</label>
    {% for permiso in usuario.getPermiso %}
    <span class="badge badge-pill badge-secondary">  {{ permiso.nombre }}  </span>
    {% endfor %}
    <a href="#"><i class="far fa-edit"></i>Modificar</a>
  </div>
</div>

{% endblock %}
