{% extends "base.html" %}
{% block main %}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ settings.google.maps.api_key }}&callback=initMap"
        type="text/javascript"></script>

<div class="card bg-light mt-0 mb-3">
  <div class="card-header">
    <h4><i class="fas fa-address-card "></i> Ingresando Consulta</h4></div>
  <div class="card-body">
    <div class="card-text">

      <form id="formConsulta" method="post" action="/api/consultas/crear">
        <input type="hidden" name="csrf_token" value="{{ CSRF_TOKEN }}">
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="ui-widget">
              <label for="paciente">*Paciente: </label>
              <input type="text" class="form-control" id="paciente" name="paciente" value="" required>
              <input type="hidden" class="form-control" id="paciente_id" name="paciente_id" value="" required>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="datepicker" class=" col-form-label col-form-label-sm">*Fecha</label>
            <input type="text" id="datepicker" class="form-control readonlywhite" name="fecha_consulta" value=""
                   readonly required>
          </div>
          <div class="form-group col-md-4">
            <label for="motivo" class=" col-form-label col-form-label-sm">*Motivo</label>
            <select class="form-control" id="motivo" name="motivo" required>
              <option value="" disabled selected hidden>Seleccione un motivo de consulta</option>
              {% for motivo in motivos %}
              <option value="{{ motivo.id }}">{{ motivo.nombre }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="derivacion" class=" col-form-label col-form-label-sm">*Derivación</label>
            <select class="form-control" id="derivacion" name="derivacion" required>
              <option value="" disabled selected hidden>Seleccione derivación</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="articulacion" class=" col-form-label col-form-label-sm">Articulación c/ otras
              instituciones</label>
            <textarea class="form-control" id="articulacion" name="articulacion"
                      placeholder="Info sobre articulacion con otras instituciones"
                      value=""></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <p>*Internación</p>
            <label class="switch" for="internacion">
              <input id="internacion"
                     name="internacion"
                     type="checkbox" unchecked>
              <span class="slider round "></span>
            </label>
          </div>
          <div class="form-group col-md-5">
            <label for="diagnostico" class=" col-form-label col-form-label-sm">*Diagnóstico</label>
            <textarea class="form-control" id="diagnostico" name="diagnostico"
                      placeholder="Diagnóstico realizado al paciente"
                      value="" required></textarea>
          </div>
          <div class="form-group col-md-5">
            <label for="observaciones" class=" col-form-label col-form-label-sm">Observaciones</label>
            <textarea class="form-control" id="observaciones" name="observaciones"
                      placeholder="Observaciones generales"
                      value=""></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="tratamiento_farmacologico" class=" col-form-label col-form-label-sm">Tratamiento
              farmacológico</label>
            <select class="form-control" id="tratamiento_farmacologico" name="tratamiento_farmacologico">
              <option value="" disabled selected hidden>Seleccione un tratamiento</option>
              {% for tratamiento_farmacologico in tratamientos_farmacologicos %}
              <option value="{{ tratamiento_farmacologico.id }}">{{ tratamiento_farmacologico.nombre }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="acompanamiento" class=" col-form-label col-form-label-sm">Acompañamiento</label>
            <select class="form-control" id="acompanamiento" name="acompanamiento">
              <option value="" disabled selected hidden>¿Quién acompaña al paciente?</option>
              {% for acompanamiento in acompanamientos %}
              <option value="{{ acompanamiento.id }}">{{ acompanamiento.nombre }}</option>
              {% endfor %}
            </select>
          </div>

        </div>


        <div class="col-md-3">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-danger" id="volver">Volver</button>
        </div>

      </form>
    </div>
  </div>
</div>
{% include 'alertMessages.html' %}
{% include "components/modal_small.html" %}

<div class="card bg-light mt-0 mb-3">
  <div class="card-header">
    <h4><i class="fas fa-address-card "></i> Mapa derivaciones previas</h4></div>
  <div class="card-body">
    <div class="card-text">
      <div class="col-md-12 p-3">
        <div id="mapa">
          <h5>Sin datos disponibles.</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<script>


    function agregarConsulta_callbackSuccess(data) {
        console.log('OK');
        if (data.error === true) {
            showOverlayError('Error', data.msg);
            //showErrorMessage(data.msg);
        } else {
            showSuccessMessage(data.msg, data.id);
            document.getElementById("formConsulta").reset();
        }
    }

    function agregarConsulta_callbackError(data) {
        console.log('ERROR');
        console.log(data);
    }

    onSubmitFormGetJson(
        '#formConsulta',
        agregarConsulta_callbackSuccess,
        agregarConsulta_callbackError
    );


    $(function () {
        $("#datepicker").datepicker({dateFormat: 'dd-mm-yy'});
        $('#datepicker').datepicker('setDate', new Date());

    });


    function cargarDerivaciones(data) {
        var x = $('#derivacion')[0];
        x.length = 0;
        var option;
        for (let y = 0; y < data.length; y++) {
            option = document.createElement("option");
            option.text = data[y].nombre;
            option.value = data[y].id;
            x.add(option);
        }
    }

    //////////////////////////////////  MAPA ////////////////////////////////////////
    function viewMap(data) {
        var marcadores = [];
        for (let y = 0; y < data.length; y++) {
            $coordenadas = data[y]['coordenada'].split(',');
            var array = [data[y]['institucion'], parseFloat($coordenadas[0]), parseFloat($coordenadas[1])];
            marcadores.push(array);
        }
        console.log(marcadores);

        var map = new google.maps.Map(document.getElementById('mapa'), {
            zoom: 11,
            center: new google.maps.LatLng(-34.950, -58.050),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var infowindow = new google.maps.InfoWindow();
        var marker, i;
        for (i = 0; i < marcadores.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(marcadores[i][1], marcadores[i][2]),
                map: map
            });
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(marcadores[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    }
    //////////////////////////////////  ///// ////////////////////////////////////////

    $(document).ready(function () {
        //Los pacientes que se carguen en el array "listaDePacientes son los que van a aparecer para seleccionar en el autocomplete"
        //Tenemos que buscar una forma de no cargar todos los pacientes a este array, sino el paciente que se esta buscando en el input de paciente.
        //La url /api/pacientes le pega al metodo PacienteController->pacientesJSON()
        getJson('/api/pacientes', {}, cargarAutocomplete);

        function cargarAutocomplete(data) {
            var listaDePacientes = [];

            for (let y = 0; y < data.length; y++) {
                listaDePacientes.push(
                    {
                        region: data[y].region_sanitaria_id,
                        value: data[y].id,
                        label: (data[y].nombre + " " + data[y].apellido + " - " + " " + data[y].numero)
                    },
                );
            }
            $("#paciente").autocomplete({
                source: listaDePacientes,
                select: function (event, ui) {
                    event.preventDefault();
                    $('#paciente').val(ui.item.label); // display the selected text
                    $('#paciente_id').val(ui.item.value); // save selected id to hidden input
                    getJson('/api/instituciones/region-sanitaria/' + ui.item.region, {}, cargarDerivaciones);
                    getJson('/api/consultas/instituciones/paciente/' + $('#paciente_id').val(), {}, viewMap);

                },
            });
        }

        $("#paciente").keydown(function (event) {
            var key = event.keyCode || event.charCode;
            if (key == 8 || key == 46) {

                $("#paciente").val("");
                $("#paciente_id").val("");
                $("#derivacion").val("");
            }

        });


        $("#paciente").mousedown(function (e) {
            if (e.button == 2) {
                alert('Esta funcionalidad está deshabilitada.');
                return false;
            } else {
                return true;
            }
        });


    });


</script>
<style>
  #mapa {
    height: 25rem;
  }
</style>

{% endblock %}
