{% extends "base.html" %}
{% block main %}
<div class="conainer text-center">
    <h2>Información de Consulta</h2>
   <div class="row"> <strong>Paciente</strong> : {{consulta.getPaciente().getNombre()}} {{consulta.getPaciente().getApellido()}}</div>
   <div class="row"> <strong>Fecha de consulta</strong> : {{consulta.getFecha() |date('d-m-Y')}}</div>
   <div class="row"> <strong>Motivo de consulta</strong> : {{consulta.getMotivo().getNombre()}}</div>
   <div class="row"> <strong>Derivación</strong> : {{consulta.getDerivacion().getNombre()}}</div>
   <div class="row"> <strong>Articulación c/ otras instituciones</strong> : {{consulta.getArticulacionConInstituciones()}}</div>
   <div class="row"> <strong>Internación</strong> : {{consulta.getInternacion() ? 'Si':'No'}}</div>
   <div class="row"> <strong>Diagnóstico</strong> : {{consulta.getDiagnostico()}} </div>
   <div class="row"> <strong>Observaciones</strong> : {{consulta.getObservaciones()}} </div>
   <div class="row"> <strong>Tratamiento farmacológico</strong> : {{consulta.getTratamientoFarmacologico().getNombre()}} </div>
   <div class="row"> <strong>Acompañamiento</strong> : {{consulta.getAcompanamiento().getNombre()}} </div>

   
   <button class="btn btn-primary" id="volver">Volver</button>
</div>
{% endblock %}
