@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*--------------------------------------------*/
/*-----  RESET STYLES FOR ALL BROWSERS -------*/
/*--------------------------------------------*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--------------------------------------------*/
/*------------ END RESET STYLES --------------*/
/*--------------------------------------------*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: none;
}

footer {
    padding: 12px;
}

main {
    flex: auto;
    background: #FFF;
}

/*--------------------------------------------*/
/*-------------- DROPDOWN --------------------*/
/*--------------------------------------------*/

.dropdown-btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    background: inherit;
}

.dropdown {
    overflow: hidden;
    float: left;
}

.dropdown-content {
    margin-top: 40px;
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    float: none;
}

.dropdown-content li {
    float: none;
}

.dropdownable:hover .dropdown-content {
    display: block;

}

.dropdown-line {
    margin: 0;
    width: 96% !important;
    padding: 0;
    height: 0;
    border: 1px solid grey;
}

/*--------------------------------------------*/
/*-------------- END DROPDOWN ----------------*/
/*--------------------------------------------*/

/*--------------------------------------------*/
/*------------ NAVBAR---------- --------------*/
/*--------------------------------------------*/
nav {
    box-shadow: 0 4px 8px 0 grey;
    height: 40px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav li, nav a, nav h2, nav img {
    float: left;
    text-decoration: none;
    color: #FFF;
}

.nav-default {
    background: #1676CA;
    color: #FFFFFF;
}

.nav-logo {
    margin-right: 8px;
}

.nav-logo img {
    display: block;
    margin: auto;
    height: 30px;
    padding: 4.5px 0 0 4.5px;
}

.nav-elem {
    line-height: 35px;
    margin: 0 3px 0 3px;
    padding: 0 5px;
}

.nav-elem a {
    line-height: 40px;
    min-width: 50px;
    text-align: center;
    padding: 0 5px;
}

.nav-elem a:hover {
    background-color: #04ACDA;
}

.nav-right {
    display: inline-block;
    float: right;
}

nav input[type=text] {
    padding: 6px;
    margin: 5px;
    border: none;
}

nav button {
    padding: 3px 10px;
    cursor: pointer;
    width: 100% !important;
}

@media only screen and (max-width: 768px) {
    .nav-title h2 {
        font-size: 5vw;
    }

}

/*--------------------------------------------*/
/*------------ END NAVBAR------ --------------*/
/*--------------------------------------------*/


.main-wrapper {
    margin: 40px 10%;
    /*min-width: 900px;*/
}



.footer-left {
    width: 74%;
    float: left;
    display: inline;
}

.footer-right {
    width: 25%;
    float: right;
    display: inline;
}

section p {
    text-align: left;
    padding: 20px 10px 20px 10px;
}

article.noticias p {
    line-height: 20px;
}

article.noticias {
    text-align: center;
    overflow: hidden;
    margin: 20px -10px;
    padding: 0;
    list-style: none;
}

.noticias section {
    float: left;
    width: calc(33.333333% - 20px);
    margin: 0 10px 20px 10px;

}

.noticias h2 {
    margin-bottom: 1pc;
}

.version-text {
    font-size: 1em;

}

.version-text p {
    text-align: right;
    margin-right: 3%;
}
@media only screen and (max-width: 768px) {
    .content-wrapper .noticias {
        margin: 20px -10px;
        padding: 0;
        list-style: none;
    }

    .nav-logo img {
        margin-top: 3%;
        height: 2.8em;
    }

    .noticias section {
        float: left;
        width: calc(100% - 20px);
        margin: 0 10px 20px 10px;

    }

    .main-wrapper {
        margin: 0;
        padding: 0 50px;
    }

    .form-login {
        width: auto !important;
    }
}

/*
.content-wrapper h1 {
  font-size: 30px;
}
*/

.btn {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: #1C82DA;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.btn:hover {
    background-color: #176AB5;
}

.form-grp {
    padding: 5px;
    margin: 5px 0 5px 0;
}

.form-ctrl {
    height: 30px;
    padding: 3px;
    font-size: 18px;
    width: 100%;
}

.form-lbl {
    display: block;
    padding: 0 7px 7px 0;
    font-size: 18px;
    font-weight: bold;
}

.form-btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 101%;
}

.btn-green {
    background-color: #4CAF50;
    color: white;
}

.btn-green:hover {
    background-color: #34AF81;
}

.btn-blue {
    background-color: #004CAF;
    color: white;
}

.btn-blue:hover {
    background-color: #0A74AF;
}

.form-login {
    width: 400px;
}

.middle {
    margin: 0 0 0 30%
}

@media only screen and (max-width: 768px) {
    .middle {
        margin: 0;
    }

    .main-wrapper {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        height: 100%;
    }

    .main-wrapper {
        padding: 0;
    }

    .nav-elem {
        padding: 0;
        text-align: center;
    }

    h2 {
        display: block;
        font-size: 1em;
        text-align: center;
    }

    .nav-title h2 {
        font-size: 5vw;
    }

    nav h2 {
        float: none;
    }

    .nav-elem a {
        display: block;
    }

    nav li, nav a, nav h1, nav img {
        float: none;
    }

    nav ul {
        width: 100%;
    }

    .nav-right .nav-elem {
        background-color: transparent;
    }

    .nav-right {
        float: none;
    }

    .nav-default ul > li:not(.nav-logo) {
        display: none;
    }

    .responsive ul > li:not(.nav-logo) {
        display: block;
    }

    .search-container input {
        width: 65%;
    }

    .search-container button {
        margin-left: 5%;
    }

    .dropdown-content {
        position: relative;
    }

    .dropdown {
        display: block;
        width: 100%;
    }

}
