RewriteEngine on
RewriteBase /Final

#RewriteCond %{REQUEST_URI} !^/Final/app
rewriteRule ^/Final/(.+)$ $1 [NC,L]

#RewriteRule ^(.*)$ app/$1 [NC,L]
# Rule for static files

RewriteRule ^app/resources/(.+) Final/app/templates/resources/$1 [NC,L,END]

RewriteRule (.*) bootstrap.php [L,END]