RewriteEngine on

RewriteCond %{REQUEST_URI} !^/app
RewriteRule ^(.*)$ /app/$1 [NC,L]
# Rule for static files
RewriteRule ^app/resources/(.+) app/templates/resources/$1 [NC,L,END]

RewriteRule (.*) bootstrap.php [L,END]