{% extends "base.html" %}
{% block main %}

  {% if crud_action %}
    <h3 class="text-success">El paciente fué {{action}} correctamente.</h3>
  {% endif %}
  {% if existeHistoriaClinica %}
    <h3 class="text-danger">El Nº de historia clínica ingresado ya existe en el sistema. No se pudo completar su solicitud.</h3>
  {% endif %}
{% if fechaIncorrecta %}
    <h3 class="text-danger">La fecha ingresada es incorrecta. No se pudo completar su solicitud.</h3>
  {% endif %}
  {% if error %}
    <h3 class="text-danger">{{msg}}</h3>
  {% endif %}


  {% if pacientes|length > 0 %}
    

    <table id="userList" class="display table-responsive">
        <thead>
        <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>Tipo y Nº de documento</th>
          <th>Nº de historia Clínica</th>
          <th>Opciones</th>
        </tr>
        </thead>

        <tbody>
        {% for paciente in pacientes %}
          <tr>
            <td>{{ paciente.apellido }}</td>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.tipoDoc.nombre }} {{ paciente.numero }}</td>
            <td>{{ paciente.nroHistoriaClinica }}</td>

            <td>
              {%  if controller.userHasPermission('paciente_read_view') %}
              <a href="/modulo/pacientes/ver/{{paciente.id}}">Ver</a>
              {% endif %}

              {%  if controller.userHasPermission('paciente_update_view') %}
              -
              <a href="/modulo/pacientes/modificar/{{paciente.id}}">Modificar</a>
              {% endif %}
              {%  if controller.userHasPermission('paciente_delete') %}
              -
              <a data-toggle="confirmation" class="confirm" href="/api/pacientes/eliminar/{{paciente.id}}">Eliminar</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% else %}
  {% if realiceBusqueda %}
   <h3>No se encotraron resultados.</h3>
   <a href="/modulo/pacientes/crear-nn">Ingresar paciente como NN</a>

   {% endif %}


{% endif %}

  <script>
      $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
        'title': '¿Está seguro de borrar al paciente?',
        'placement': 'bottom',
    });
      $(document).ready(function () {
          $('#userList').DataTable({
              "pageLength": {% if config.paginacion  %}{{ config.paginacion }}{% else %} 10 {% endif %},
              "lengthChange": false,
              language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ entradas totales)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    }
          });

});


     
      

  </script>
{% endblock %}


