{% extends "base.html" %}
{% block main %}
<div class="conainer text-center">
  <a href="/modulo/pacientes/crear">Agregar paciente</a>
  - 
  <a href="/modulo/pacientes/buscar">Buscar paciente</a>
  - 
  <a href="/modulo/pacientes/crear-nn">Ingresar NN</a>
  </div>
  {% if pacientes|length > 0 %}
    

    <table id="userList" class="display">
        <thead>
        <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>Tipo y Nº de documento</th>
          <th>Nº de historia Clínica</th>
          <th>Opciones</th>
        </tr>
        </thead>

        <tbody>
        {% for paciente in pacientes %}
          <tr>
            <td>{{ paciente.apellido }}</td>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.tipoDoc.nombre }} {{ paciente.numero }}</td>
            <td>{{ paciente.nroHistoriaClinica }}</td>

            <td>
              <a href="/modulo/pacientes/ver/{{paciente.id}}">Ver</a>
              -
              <a href="/modulo/pacientes/modificar/{{paciente.id}}">Modificar</a>
              -
              <a href="/api/pacientes/eliminar/{{paciente.id}}">Eliminar</a>

            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endif %}

  <script>
      $(document).ready(function () {
          $('#userList').DataTable();
      });

  </script>
{% endblock %}


