{% extends "base.html" %}
{% block body %}
<a href="/modulo/pacientes/crear">Agregar paciente</a>


<div class="container-fluid">
    <table id="userList" class="display">
      <thead>
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Tipo y Nº de documento</th>
        <th>Nº de historia Clínica</th>
        <th>Opciones</th>
      </tr>
      </thead>

      <tbody>
      {% for paciente in pacientes %}
      <tr>
        <td>{{ paciente.apellido }}</td>
        <td>{{ paciente.nombre }}</td>
        <td>{{ paciente.tipoDoc.nombre }} {{ paciente.numero }}</td>
        <td>{{ paciente.nroHistoriaClinica }}</td>

        <td>
        	<a href="">Modificar</a>
        	-
        	<a href="">Eliminar</a>

        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>


<script>
    $(document).ready( function () {
        $('#userList').DataTable();
    } );

</script>
{% endblock %}


