<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hospital Dr. Alejandro Korn - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<header>
  <nav class="nav-default">
    <ul>
      <li class="nav-brand">LOGO</li>
      <li class="nav-title"><h1>Hospital Dr. Alejandro Korn</h1></li>
    </ul>

    <ul class="nav-right">
      <li>
        <div class="search-container">
          <input type="text" placeholder="Buscar..">
          <button onclick="buscar();">Buscar</button>
        </div>
      </li>
    </ul>
    <ul>
      <li class="nav-elem"><a href="#">Login</a></li>
    </ul>


  </nav>
</header>
<main>
  <div class="main-wrapper">
    Hacer tres columnas para la información publica del hospital ///// <a href="administracion.html">administracion (link temporal, no va aca realmente)</a>

    <div class="content-wrapper">
      <ul>
        <li>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit semper sapien, faucibus sollicitudin non fames tincidunt cubilia erat accumsan pharetra, etiam justo natoque tempus ac sagittis metus parturient. Luctus suscipit duis vehicula conubia leo tempor enim facilisi, gravida tincidunt maecenas egestas laoreet orci porttitor in, tempus nulla vel non cursus vitae natoque. Pulvinar nisl scelerisque eros lectus class vivamus congue gravida ac cum, nostra faucibus volutpat non lobortis justo rutrum vestibulum feugiat rhoncus, eget dis integer est fusce parturient cras mauris pharetra.</p>
            <button class="btn">Ver detalles >></button>
        </li>
        <li>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit semper sapien, faucibus sollicitudin non fames tincidunt cubilia erat accumsan pharetra, etiam justo natoque tempus ac sagittis metus parturient. Luctus suscipit duis vehicula conubia leo tempor enim facilisi, gravida tincidunt maecenas egestas laoreet orci porttitor in, tempus nulla vel non cursus vitae natoque. Pulvinar nisl scelerisque eros lectus class vivamus congue gravida ac cum, nostra faucibus volutpat non lobortis justo rutrum vestibulum feugiat rhoncus, eget dis integer est fusce parturient cras mauris pharetra.</p>
            <button class="btn">Ver detalles >></button>
        </li>
        <li>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit semper sapien, faucibus sollicitudin non fames tincidunt cubilia erat accumsan pharetra, etiam justo natoque tempus ac sagittis metus parturient. Luctus suscipit duis vehicula conubia leo tempor enim facilisi, gravida tincidunt maecenas egestas laoreet orci porttitor in, tempus nulla vel non cursus vitae natoque. Pulvinar nisl scelerisque eros lectus class vivamus congue gravida ac cum, nostra faucibus volutpat non lobortis justo rutrum vestibulum feugiat rhoncus, eget dis integer est fusce parturient cras mauris pharetra.</p>
            <button class="btn">Ver detalles >></button>
        </li>
      </ul>
    </div>
  </div>
</main>

<footer class="nav-default">
  <div class="footer-left"><p>Proyecto de software 2018 - Hospital Dr. Alejandro Korn </p></div>
  <div class="footer-right version-text"><p style=" text-align: right;  margin-right: 3%;">v 0.1.0 </p></div>
</footer>

</body>

</html>

