<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hospital Dr. Alejandro Korn - Administración</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<header>
  <nav class="nav-default">
    <ul>
      <li class="nav-brand">LOGO</li>
      <li class="nav-elem"><a href="index.html">Inicio</a></li>
      <li class="nav-elem"><a href="">Consultas</a></li>
      <li class="nav-elem"><a href="">Pacientes</a></li>

    </ul>

    <ul class="nav-right">
      <li>
        <div class="search-container">
          <input type="text" placeholder="Buscar..">
          <button  class="form-btn" onclick="buscar();">Buscar</button>
        </div>
      </li>
      <li class="nav-elem"><a href="#">Cerrar sesi&oacute;n</a></li>
    </ul>



  </nav>
</header>
<main>
  <div class="main-wrapper">
    <div class="form-login middle">
    <form action="administracion.html" method="post">
      <div class="form-grp">
        <label class="form-lbl">Ingrese su usuario</label>
        <input class="form-ctrl" type="text" alt="Ingrese aqui su usuario" name="username" placeholder="Usuario" required>
      </div>
      <div class="form-grp">
        <label class="form-lbl">Ingrese su contrase&ntilde;a</label>
        <input class="form-ctrl" type="password" alt="Ingrese aqui su contrase&ntilde;a" name="password" placeholder="Contrase&ntilde;a" required>
      </div>
      <div class="form-ctrl">
        <button class="form-ctrl form-btn" type="submit"> Aceptar</button>
      </div>
    </form>
    </div>
  </div>
</main>

<footer class="nav-default">
  <div class="footer-left"><p>Proyecto de software 2018 - Hospital Dr. Alejandro Korn </p></div>
  <div class="footer-right version-text"><p style=" text-align: right;  margin-right: 3%;">v 0.1.0 </p></div>
</footer>

</body>

</html>

